.itemcounter {
  border: 1px solid #B9D8D9;
  border-radius: 4px;
  padding: 0 4px;
  background-color: #E6F0F2;
  color: #707070;
  font-weight: bold;
  font-size: 150%;

  vertical-align:top;
  display: none;
  margin-left: 1em;
}
