.rbit-plugin .logo-links { margin-bottom: 2.5em; }
.rbit-plugin .logo-links a img { border: 1px solid transparent; }
.rbit-plugin .logo-links a:hover img { border: 1px solid #DEDEDE; }
.rbit-plugin fieldset { margin-bottom: 1em; }
.rbit-plugin fieldset.rows label, .rbit-plugin label { width: 18em; display: inline-block; text-align: right; margin-right: 1em; }
.rbit-plugin span.appended-label { margin: 0 1em; }
.rbit-plugin .form-field { margin: 5px 0; }
.rbit-plugin .form-field > * { vertical-align: middle; }
.rbit-plugin input.on-off { margin: 0 1em; }

.rbit-plugin.tools fieldset.rows label { width: 13em; }
.rbit-plugin.tools input[type="file"] { display: inline-block; }
.rbit-plugin-withdrawals .warning { color: #8F6F00; }
.rbit-plugin-withdrawals #doc3 { padding: 0.5em; }
.rbit-plugin pre.sql { margin: 2em; padding: 2em; border: 1px solid #B9D8D9; border-radius: 4px; background-color: #E6F0F2; }
.rbit-plugin ul.sql { margin: 0 2em; padding: 0 2em; list-style-type: square; }

#rbit-withdrawn-tester-modal div.form-field { margin-bottom: 0.25em; }
#rbit-withdrawn-tester-modal .form-field-label { width: 10em; display: inline-block; }
#rbit-withdrawn-tester-modal #test-result .withdrawn { margin-top: 1em; font-size: 150%; font-weight: bold; }
#rbit-withdrawn-tester-modal #test-result .sql p { font-size: 80%; font-family: monospace; background-color: #DDD; padding: 0.5em; }
